/* God container */
:root {
  box-sizing: border-box;
}

/* Header default margin reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Paragraph default margin reset */
p {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: minmax(200px, 20%) 1fr;
  min-height: 100vh;
}

/* Debugging border helper */
.container > * {
  border: 5px solid darkslategrey;
}

.sidebar {
  background: seagreen;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  align-content: start;
  gap: 40px;

  padding: 15px;
}

.sidebar .sidebar-item {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.sidebar > * {
  height: min-content;
}

.navbar ul {
  list-style: none;
}

/* Main container section */
.main-container {
  display: grid;
  grid-template-rows: 200px 1fr;

  background: coral;
}

/* Debugging border helper */
.main-container > * {
  border: 5px solid lightslategray;
}

/* Header section */
.header-container {
  background: lightskyblue;

  display: grid;
  grid-template-columns: minmax(200px, 3fr) 2fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

/* Debugging border helper */
.header-container > * {
  border: 5px solid orange;
}

.search-container {
  background: red;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 1rem;
}

.search-container input[type="search"] {
  border: none;
  border-radius: 1rem;
}

.user-actions-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  align-items: center;
}

.user-actions-container .notifications-icon {
  justify-self: end;
}

.user-actions-container .user-profile-container {
  justify-self: start;
  
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 1rem;
}

/* Debugging border helper */
.user-profile-container > * {
  border: 5px solid black;
}

.user-welcome-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}

.main-content-container {
  background: lightsteelblue;
}
