/* God container */
:root {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  --primary-color: #2F4858;
  --highlight-color: #F26419;
  --base-color: #e6e6e6;
  --white-color: white;
  
  --dark-font-color: #333;
}

/* Header default margin reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Paragraph default margin reset */
p {
  margin: 0;
}

.primary-bg {
  background: var(--primary-color);
  color: var(--base-color);
}

.base-bg {
  background: var(--base-color);
  color: var(--dark-font-color);
}

.white-bg {
  background: var(--white-color);
  color: var(--dark-font-color);
}

.highlight-bg {
  background: var(--highlight-color);
  color: var(--white-color);
}

.container {
  display: grid;
  grid-template-columns: minmax(200px, 20%) 1fr;
  min-height: 100vh;
}


.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  align-content: start;
  gap: 40px;

  padding: 15px;
}

.sidebar .sidebar-item {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.sidebar > * {
  height: min-content;
}

.navbar ul {
  list-style: none;
}

/* Main container section */
.main-container {
  display: grid;
  grid-template-rows: 200px 1fr;
}


/* Header section */
.header-container {
  display: grid;
  grid-template-columns: minmax(200px, 3fr) 2fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;

  padding: 1rem 2rem;

  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);

  /* Ensures box shadow is shown */
  z-index: 1000;
  /* Ensures box shadow is shown */
}

.search-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 1rem;
}

.search-container input[type="search"] {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.user-actions-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  align-items: center;
}

.user-actions-container .notifications-icon {
  justify-self: end;
}

.user-actions-container .user-profile-container {
  justify-self: start;
  
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 1rem;
}

.user-welcome-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}

.project-button-actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1rem;
}

.project-button-actions .btn {
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 1rem;

  font-weight: bold;
}

.main-content-container {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;

  --item-border-radius: 10px;
}

/* Title + Content split */
.main-content-container > * {
  grid-template-rows: auto 1fr;
}

/* Projects container */
.main-content-container .projects-container {
  grid-row: 1 / span 2;

  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.main-content-container .projects-container .section-title {
  grid-column: span 2;
  height: min-content;
}

.main-content-container .projects-container .project-card {
  padding: 1.5rem 1rem;

  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr 75px; 
  background: var(--white-color);
  border-left: 10px solid var(--highlight-color);
  border-radius: var(--item-border-radius);
}

.main-content-container .projects-container .project-card .project-card-controls {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

.main-content-container .projects-container .project-card .project-card-controls > * {
  background: none;
  border: none;
  font-weight: bold;
}

.main-content-container .announcements-container {
  display: grid;
  gap: 1rem;
}

.main-content-container .announcements-container .announcements-list {
  padding: 2rem;
  border-radius: var(--item-border-radius);
}

.main-content-container .announcements-container .announcements-list .announcement {
  padding: 1rem 0;
  border-bottom: 2px solid var(--base-color);
}

.main-content-container .announcements-container .announcements-list .announcement:last-child {
  border-bottom: none;
}

.main-content-container .trending-container {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto 1fr;
}

.main-content-container .trending-container .trending-items-list {
  background: var(--white-color);
  padding: 1rem 1.5rem;
  display: grid;
  align-items: start;

  border-radius: var(--item-border-radius);
}

.main-content-container .trending-container .trending-items-list .trending-item {
  height: min-content;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: auto auto;
  align-items: center;
}

.main-content-container .trending-container .trending-items-list .trending-item img {
  grid-row: 1 / span 2;
  width: 100%;
}

.main-content-container .trending-container .trending-items-list .trending-item .handle {
  grid-column: 2 / span 1;
}

.main-content-container .trending-container .trending-items-list .trending-item .name {
  grid-column: 2 / span 1;
}